<!DOCTYPE html>
<html>
  <head>
    <title>My Homepage</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>My Homepage</h1>

    <%= yield %>

    <p>A simple footer</p>
  </body>
</html>
